*{
    box-sizing: border-box;
}
body{
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#inp{
    margin: 0, 15px;
    padding: 10px;
    font-size: 25px;
    width: 375px;
    border:7px solid #4CAF50;
    font-family: 'EB Garamond', serif;
}

#btn{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
  border-radius: 10%;
  cursor: pointer;
}
#btn:hover {
    background-color: #3e8e41
}

li{
    font-family: 'EB Garamond', serif;
    cursor: grab;
    font-size: 25px;
    color: #fc8403;
    list-style-type: '👩‍💻  '
}